@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Poppins&display=swap);
}

h1 {
    color: #ffee58; 
}

body {
    background-image: url("/assets/scapeBackground.png"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

section img {
    max-width: 700px;
    margin-top: 30px;
}

nav ul {
    padding: 0px;
}

#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
}  

.navlist {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    border-top: 5px solid #ffee58;
    border-bottom: 5px solid #ffee58;
}

li {
    list-style: none;
    color: white;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #ffee58;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}


main img {
    max-width: 300px;
}

.picDiv {
    border: 5px solid red;
}
